.Logs {
  display: flex;
  flex-direction: column;

  .Log {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    min-width: 400px;

    .title {
      display: flex;
      flex-direction: row;
      min-width: 200px;
      margin-bottom: 1em;

      * {
        font-weight: 700;
        margin-right: 1em;
      }
    }

    .msg {
      width: 100%;
      min-width: 200px;
    }

    .info {
      color: #00bb00;
    }
    .warn {
      color: #dad218;
    }
    .error {
      color: red;
    }
  }
}