.Logs {
  display: flex;
  flex-direction: column;

  .Log {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    min-width: 400px;

    .date {
      width: 30%;
      min-width: 120px;
    }
    .status {
      width: 15%;
      min-width: 80px;
    }
    .msg {
      width: 55%;
      min-width: 200px;
    }

    .info {
      color: #00bb00;
    }
    .warn {
      color: #dad218;
    }
    .error {
      color: red;
    }
  }
}